.data-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #8e44ad;
}
.table-div {
    width: 50%;
    /* border-collapse: collapse; */
    border: 1px solid #cecfd5;
    border-left: 1px solid #cecfd5;
    border-right: 1px solid #cecfd5;
}
.div-style {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.data-style {
    color: white;
    width: 50%;
}
.content {
    padding-top: 15px;
}
.main-div {
    background-color: #8e44ad;
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}
.div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}
.header {
    color: white;
    background: transparent;
    text-shadow: 0 2px 2px black;
}
.caption-style {
    margin-bottom: 20px;
    font-size: 30px;
    color: white;
    background: transparent;
    text-shadow: 0 2px 2px black;
    width: 100%;
}
.input-main-div {
    width: 50%;
}
.input-div {
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
    margin: 20px 0;
    text-align: center;
}
.input-one-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.input-row {
    width: 45%;
    padding: 10px 20px;
    border: none;
    outline: none;
    margin: 20px 0;
    text-align: center;
}
.button {
    width: 10%;
    border-radius: 999rem;
    outline: none;
    padding: 10px;
    background-color: #F6F6F6;
}
.buttonFirst {
    width: 10%;
    border-radius: 999rem;
    outline: none;
    padding: 10px;
    background-color: #F6F6F6;
    margin-top: 15px;   
}